<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <title>Jcrop Dynamic Avatar JS/PHP Demo</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div id="wrapper">
  <a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target="#set-avatar">upload avatar</a>

  <%= image_tag @image.thumbnail? ? @image.thumbnail_url(:thumb) : 'avatar.jpg', alt: 'default avatar', width: 180, height: 180, id: 'index-avatar' %>
  <%= render partial: 'avatar_modal' %>
</div>
</body>
</html>